{
  "discord_token": "YOUR_DISCORD_BOT_TOKEN",
  "discord_client_id": "YOUR_DISCORD_CLIENT_ID",
  "discord_client_secret": "YOUR_DISCORD_CLIENT_SECRET",
  "spotify_client_id": "SPOTIFY_CLIENT_ID_GOES_HERE",
  "spotify_client_secret": "SPOTIFY_CLIENT_SECRET_GOES_HERE",
  "web_port": 8888,
  "command_prefix": "ps-",
  "max_queue_size": 100,
  "default_volume": 0.5,
  "session_secret": "some_random_secret_key_here",
  "github_repo": "https://github.com/warmbo/psychosonus"
}