{
  "_comment": "Sonus Bot Configuration - Edit the values below",
  "_instructions": {
    "discord_token": "Get from https://discord.com/developers/applications - Create app > Bot > Copy Token",
    "spotify_setup": "Go to https://developer.spotify.com/dashboard - Create app > Settings > Copy Client ID & Secret",
    "spotify_redirect": "In Spotify app settings, add redirect URI: http://localhost:8888/callback/spotify"
  },
  
  "discord_token": "DISCORD_BOT_TOKEN_GOES_HERE",
  
  "spotify_client_id": "SPOTIFY_CLIENT_ID_GOES_HERE",
  "spotify_client_secret": "SPOTIFY_CLIENT_SECRET_GOES_HERE",
  
  "web_port": 8888,
  "command_prefix": "!",
  "max_queue_size": 100,
  "default_volume": 0.5
}